/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/*A cada 1rem será considerado 10px*/
	font-size: 62.5%;
}

*,
::after,
::before {
	box-sizing: border-box
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: "Merriweather";
	src: url(./assets/fonts/Merriweather-Black.ttf) format('black');
	src: url(./assets/fonts/Merriweather-BlackItalic.ttf) format('black-italic');
	src: url(./assets/fonts/Merriweather-Bold.ttf) format('bold');
	src: url(./assets/fonts/Merriweather-BoldItalic.ttf) format('bold-italic');
	src: url(./assets/fonts/Merriweather-Italic.ttf) format('italic');
	src: url(./assets/fonts/Merriweather-Light.ttf) format('light');
	src: url(./assets/fonts/Merriweather-LightItalic.ttf) format('light-italic');
	src: url(./assets/fonts/Merriweather-Regular.ttf) format('light-regular');
}

@font-face {
	font-family: "Ubuntu";
	src: url(./assets/fonts/Ubuntu-Bold.ttf) format('bold');
	src: url(./assets/fonts/Ubuntu-BoldItalic.ttf) format('bold-italic');
	src: url(./assets/fonts/Ubuntu-Italic.ttf) format('italic');
	src: url(./assets/fonts/Ubuntu-Light.ttf) format('light');
	src: url(./assets/fonts/Ubuntu-LightItalic.ttf) format('light-italic');
	src: url(./assets/fonts/Ubuntu-Medium.ttf) format('medium');
	src: url(./assets/fonts/Ubuntu-MediumItalic.ttf) format('medium-italic');
	src: url(./assets/fonts/Ubuntu-Regular.ttf) format('ubuntu-regular');
}

@keyframes navbarFixed {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}




.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}

div {
	object-fit: cover;
}